# AWS Configuration
aws_region = "us-east-1"

# Project Configuration
project_name = "fiap-tech-challenge"
environment  = "development"

# RDS Configuration
db_instance_class    = "db.t3.micro"  # Use db.t3.small or larger for production
db_allocated_storage = 20              # Minimum 20 GB
db_name              = "os_service"
